<!-- Shiv BindraS

<div class="container">
<figure class="text-center">
  
<h1 class="display-4">Welcome to SurveySolution</h1>
</div>
<form>
  <!-- 2 column grid layout with text inputs for the first and last names -->

  <div class="row mb-4">
    <div class="col">
      <div class="form-outline">
        Survey name:<input type="text" id="form3Example1" class="form-control" />
        <label class="form-label" for="form3Example1"></label>
      </div>
    </div>

    <div id="date-picker-example" class="md-form md-outline input-with-post- datepicker">
      Start Date<input placeholder="Select date" type="text" id="example" class="form-control">
      <label for="example"></label>
      <i class="fas fa-calendar input-prefix" tabindex=0></i>
    </div>
    <div id="date-picker-example" class="md-form md-outline input-with-post- datepicker">
      End Date<input placeholder="Select date" type="text" id="example" class="form-control">
      <label for="example"></label>
      <i class="fas fa-calendar input-prefix" tabindex=0></i>
    </div>
  </div>

  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Create Survey</button>

  
  </div>
</form>
</div>






-->
